body{
    background: #2e3830;
    text-align: center;
}

.inp-label{
    display:block;
    font-size: 1.3em; 
}

.container{
    margin: 0 20%; 
    position: relative;
}

.input-field{
    margin: 30px 0;
    display: block;
    font-size: 1.2em;
   width: 100%;
   padding: 10px;
   border-radius: 8px;
   border: 2px solid #2e3830;
   outline: none;

}

.input-field:focus{
    border: 2px solid #c53211;
    
}
.center-box{ 
 display: inline-block;
    background: #fff;
    padding:0 50px;  
    
    box-shadow: 6px 6px 2px rgb(153, 153, 153);
  
    width: 50%; 
    margin-top: 150px;
}

.main-title{
    text-align: center;  

}


.btn-submit{

   outline: none;
    border-radius: 2px;
    margin: 10px 0;
    float: right;
    padding: 10px;
    background: black; 
    border:0;
    color: white;
    font-size: 1.2em;
    
}

.btn-submit:hover{
color: white;
background:#2e3830;

}
 

.m{
    color:  #c53211 #2e3830 #e6dbc9;
    
     }
    