/* default */
html,
body {
  margin: 0;
}

.mt30 {
  margin-top: 30px;
}
.mt20 {
  margin-top: 30px;
}
.mt10 {
  margin-top: 30px;
}
.pl30 {
  padding-left: 30px;
}
.pt20 {
  padding-top: 20px;
}
.mt20 {
  margin-top: 20px;
}

.no-decoration {
  text-decoration: none;
}
/* default ends */

/* nav bar */

.nav-bar {
  display: grid;
  grid-template-columns: 1fr 8fr;
  background-color: #2e3830;
  grid-auto-rows: minmax(90px, auto);
}
#brand-logo {
  text-decoration: none;
  margin-left: 30px; 
  font-size: 2em;  
 
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
}
.topnav-logo{
  padding: 2em;
}
 /* Add a black background color to the top navigation */
.topnav {
  padding: 2em;
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
 
.topnav a:hover {
  background-color: #ddd;
  color: black;
} 
.active {
  background-color: #4CAF50;
  color: white;
}
 .login,.register{
   float: right!important;
 }
.topnav .icon {
  display: none;
} 

 @media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: inline-block;
  }
  .a-side-nav-item-phone{
    display: block;
  }
  .a-side-nav-lg{
    display: none;
  }
}


/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/* nav bar ends */

/* container */

/* container ends */

.q-wrapper {
  display: grid;
  grid-column-gap: 2em;

  grid-template-columns: 1fr 3fr 1fr;
}

.vote-arrow img {
  height: 35px;
}

.vote {
  float: right;
}
.vote-box {
  align-self: center;
}

.q-text {
  font-size: 1.1em;
}
.q-title {
}
.user-profile img {
  height: 60px;
  margin: 10px;
  float: right;
}
.user-info {
  padding-top: 15px;
  float: right;
}
.posted {
  font-size: 1em;
  font-weight: bold;
}

.user-info span {
  display: block;
  font-size: 0.8em;
}
.votes {
  margin-left: 3px;
}

/* tags */

.tags {
  margin: 20px 0;
}

.tag {
  display: inline-block;
  margin-top: 10px;
  padding: 5px;
  background-color: #c53211;
  color: white;
  text-decoration: none;
  border-radius: 3px;
}
/* tags */

/* comment section */

.c-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.c-box {
  grid-column: 2;
  border-top: 2px solid #2e383077;
}
.c-form {
  display: grid;
  grid-template-columns: 6fr 1fr 2fr;
}

.c-textarea {
  grid-column: 1;
  resize: none;
  overflow: hidden;
  min-height: 50px;
  max-height: 100px;
  outline: none;
}
.c-submit {
  align-self: center;
  padding: 5px;
  background-color: #2e3830;
  color: white;
  border: 0;
  font-size: 1.1em;
  margin-left: 5px;
  border-radius: 3px;
  outline: none;
}

.commenter {
  color: #2e3830;
  float: right;
  columns: auto;
}

/* comment section ends*/
.m {
  color: #c53211 #2e3830 #e6dbc9;
}

/* admin dashboard */

.a-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 8fr 1fr;
  grid-gap: 1em;
}

.a-side-nav {
  display: grid;
  grid-column: 2;
  grid-gap: 1em;
}

.a-nav-item {
  background: #2e3830;
  padding: 20px;
  color: white;
  font-size: 1.1em;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  border-radius: 5px;
  align-self: start;
}
.a-nav-item:hover {
  box-shadow: 2px 2px 1px 1px grey;
}

.active {
  background: #c53211;
  color: #e6dbc9;
}

/* content */
.a-content {
}
.a-title {
  text-align: center;
  font-size: 2em;
}
.a-form {
}

.form-box { 
  /* border: #2e3830 3px solid; */
}

.form-box h3 {
  margin-top: 0;
  text-align: center;
}

.a-input {
  padding: 5px;
  font-size: 1.2em;
  border: 0;
  outline: none;
  border-bottom: 2px solid #2e3830;
  width: 70%;
}
.a-submit {
  display: block;
  padding: 10px;
  font-size: 1.1em;
  background-color: black;
  color: white;
  border: 0;
  float: right;
  margin-right: 30%;
  outline: none;
  border-radius: 3px;
}

.a-submit:hover {
  background: #2e3830;
}
.a-submit:active {
  background-color: #c53211;
}
.a-textarea {
  resize: none;
  padding: 5px;
  font-size: 1.2em;
  border: 0;
  outline: none;
  border-bottom: 2px solid #2e3830;
  width: 70%;
}

#new-category {
  background-color: #c53211;
  color: white;
}
/* content ends */

/* delete meetup */

.s-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.search-box {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background: #2e3830;
  padding: 10px;
  border-radius: 3px;
}
input[type="search"] {
  grid-column: 1;
  padding: 8px;
  font-size: 1.1em;
  border-radius: 10px;
  border: 1px solid #2e3830;
  outline: none;
}

.a-search-btn {
  grid-column: 2;
  margin-left: 10px;
  padding: 5px;
  font-size: 1em;
  background-color: #c53211;
  color: white;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
}

.meetup-item {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

.opt {
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  height: 20px;
  width: 20px;
  display: inline-block;
  margin: 0 20px;
}
.delete {
  background-image: url(../../images/icons/delete.svg);
}

.edit {
  background-image: url(../../images/icons/edit.svg);
}

.r-meetup {
  text-decoration: none;
  color: black;
}
.r-meetup-title {
  color: #c53211;
  font-size: 1.1em;
}
.r-meetup-date {
  color: grey; 
}

/*   deletemeetup */
/*admin ends */



/* user*/

.user-box{
display: grid;
grid-template-columns: 1fr 7fr 3fr 1fr;
grid-column-gap: 1em;
}

 

.q-feed {
  grid-column: 2; 
    text-decoration: none;
    color: black;
  }
  .q-feed-title {
    color: #c53211;
    font-size: 1.1em;
  }
  .q-feed-date {
    color: grey;  
  }

  .q-feed-meetup{ 
  }


  /* stats */
  .stat-number{
    display: inline;
  font-size: 3em;
  color: white; 
  background-color: #2e2e2e;
  box-shadow: 1px 1px #c53211;
  border-radius: 50%;
  padding: 40px; 
  }

  .stat-number:hover{
    box-shadow: 2px 2px #c53211;
    cursor: pointer;
  }

  .stat-title{
    margin-top:40px;
    padding: 10px;
    display: block; 
    font-size: 1.3em;
  }

  .stat{
    text-align: center; 
    margin-top: 50px;
  }
 /* user ends */




 /* responsive design */

 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) { 
  /* admin  */

  .nav-bar {
    display:block; 
  }
  .a-wrapper { 
    display: block; 
    grid-gap: 1em;
  }
  
  .a-side-nav { 
    display: block;
    grid-row-gap: 1em;
  }
  
  .meetup-item {
  display: block;
  }

  .search-box {

    display: block; 
    width: 80%;
    margin: 0 10%;
    margin-top: 20px;
    

  }
  .pl30{
    padding-left: 0;
  }
  .a-search-btn{
    margin-top: 5px;

  }
  
  input[type="search"] {
    
  width: 100%;
  }
  
  .r-meetup-user{
    display: block;
  }
  .recent-box{
    margin:0 10%;
  }

  .a-input ,.a-textarea{
    margin:0 10%;  
  }
  .a-submit{
    margin-right: 10%;
  }

  .a-nav-item{
    margin: 10px 10%;
    padding: 10px;
    font-weight: 100;
  }

  /* admin ends */


  /* user */
.q-title{
  margin:0;
  font-size: 1em;

}


.q-wrapper {
  display: grid;
  grid-column-gap: 1em;

  grid-template-columns: 1fr 10fr 1fr;
}

.user-profile img{
  height: 40px;
  width: 40px;
}


.c-wrapper {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
}


.c-form {
  display: grid;
  grid-template-columns: 1fr;
}

.c-submit{
  margin-top: 5px;
}

.c-textarea{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.vote-box{
  margin-left: 1em;
}


.user-box {
  display:  block;
}


  /* user ends */


  } 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) { 


  } 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) { 


  } 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {  


 } 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {  



 }






 /* responsive design ends */

 /* home page css */
.main-image{
  height: 400px;
  width: 100%;
  background-color: #2e2e2e;
  background-size:cover;
  background-repeat: no-repeat;
  background-image: url(../../images/profile/wp.jpg);
}

@media only screen and (max-width: 600px) { 
  .main-image{
    height: 300px;
    background-color: #2e2e2e;
    background-size: cover;
    background-image: url(../../images/profile/wp.jpg);
  }
  
}

.h-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
}

.h-box{
 

}
.h-box-1{
   
}
.h-box-2{ 
  position: relative;
  grid-column: 2/5;
  grid-row:1/4;
  background-size: cover;
  background-image: url(../../images/profile/discuss.jpg);
}
 .h-box-3{

 }
 .h-box-4{
   
}

.h-box-5{ 
  grid-column: 1/3;
   
}

.h-box-6{
  grid-column: 3/5;

   
}


.h-container{
  margin:30px;
}

.h-box a span{
  display: block;
  font-size: 1.2em;
  color: #c53211;
}

.live{ 
  float: right;

  height: 150px;
  width: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../../images/icons/live.svg);
 background-position: bottom;
}

#live-meetup{
  position: absolute;
  width: 100%;
  bottom: 1px;
  left: 1px;
  color: #FFF; 
  padding: 20px;
  background-color: #2e2e2e91;
  font-size: 3em;
  text-shadow: 1px 1px #c53211;
}

.site-info{

  position: absolute;
  top:200px;
margin: 0 10%;
  width: 80%;
  
} 
 
.main-image span{
  font-size: 2em;
 text-align: center;
 position: absolute; 
 text-shadow: 2px 2px #c53211;
 color: white;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 /* background: #2e2e2ea1; */


}
 /* home page css ends */
/* demo pages */

.fixed-demo-pages{
  position: fixed;
  bottom: 20px;
  right: 20px;
  
}

.fixed-demo-pages a{
  display: block;
  margin: 10px;
  background: #2e2e2e;
  color: white;
  padding: 5px;
}


.fixed-demo-pages span{
  color: white;
  background: #c53211;
  padding: 5px;
  cursor: pointer;
}


/* demo pages end */



/* meetup page */

.meetup-title{
  display: block;
  text-align: center;
  font-size: 2em;

}

.m-search-ask-box{
  display: grid;
grid-template-columns:1fr 6fr 4fr 1fr;
}

.m-search-ask-box .search-box{
grid-column: 2;
}

.m-ask-btn{
outline: none;
  margin-top: 5px;
  margin-left: 10px;
  align-self: center;
  padding: 20px;
  border: 0;
  background: #2e2e2e;
  color: white;  
}

.m-ask-btn:hover{

background: #c53211;

}
.m-ask-btn:active{
  background: #c7543a;
  padding: 17px;
  margin-top: 8px;
  margin-bottom: 3px;
  margin-left: 13px; 
}

.form-box{
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
}
.form-box form{
  grid-column: 2;
}

.questions{
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
}



.q-item{
  grid-column: 2;
  display: grid;
  grid-template-columns: 7fr 1fr 1fr 1fr; 
}

.q-text{
  grid-column: 1;

}

.q-text a{
  color: #c53211;
}

.q-replies{
  grid-column: 2;
}

.q-upvotes{
  grid-column: 3;
}

.q-views{
  grid-column: 4;
}
/* meetup page */