/* default */
html,body{
    margin:0;
}

.mt30{
    margin-top: 30px;
}
.pl30{
    padding-left: 30px;
}
.pt20{
    padding-top: 20px;
}
.mt20{
    margin-top: 20px;
}


.no-decoration{
    text-decoration: none;
    }
/* default ends */


/* nav bar */
.nav-bar{
    display: grid; 
    background-color: #2e3830;
  grid-auto-rows: minmax(90px,auto);

  
}
.brand-title span{
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    
}

/* nav bar ends */

/* container */
 
   
   /* container ends */

.q-wrapper{
    display: grid;
    grid-column-gap: 2em;
    
    grid-template-columns: 1fr 3fr 1fr;

}


.vote-arrow img{
    height: 35px;
}


.vote{
    float: right
}
.vote-box{
    align-self: center;
    
    
}
 


.q-text{
font-size: 1.1em;
}
.q-title{
    
}
.user-profile img{
    height: 60px;
    margin: 10px;
    float: right;
}
.user-info{
    padding-top:15px;
    float: right;  
}
.posted{
    font-size: 1em;
    font-weight: bold;
}

.user-info span{
    display:  block;
    font-size: 0.8em;
}
.votes{
    margin-left: 3px;
}

/* tags */

.tags{
  display: inline-block;
margin: 20px 0;
}

.tag{
    margin: 0 10px;
    background-color: #c53211;
    color:white;
    padding: 5px;
    text-decoration: none;
    border-radius: 3px;
}
/* tags */

/* comment section */

.c-wrapper{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;


}

.c-box{
    grid-column: 2;
    border-top: 2px solid #2e3830;
}
.c-form{
    display: grid;
    grid-template-columns: 6fr 1fr 2fr;
}

.c-textarea {
    grid-column: 1;
    resize: none;
    overflow: hidden;
    min-height: 50px;
    max-height: 100px;
    outline: none;

}
 .c-submit{
     align-self: center;
     padding: 5px;
     background-color: #2e3830;
     color:white;
     border: 0;
     font-size: 1.1em;
     margin-left: 5px;
     border-radius: 3px;
     outline: none;
   
 }

.commenter{
    color: #2e3830;
    float:right;
    columns: auto;
}


/* comment section ends*/
 .m{
color:  #c53211 #2e3830 #e6dbc9;

 }
